<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>EmpLogoutSevlet</servlet-name>
        <servlet-class>com.Servlet.EmpLogoutSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VolEditServlet</servlet-name>
        <servlet-class>com.Servlet.VolEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NPOEditServlet</servlet-name>
        <servlet-class>com.Servlet.NPOEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeNPO</servlet-name>
        <servlet-class>newpackage.VerifyCodeNPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NPOVerify</servlet-name>
        <servlet-class>newpackage.NPOVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPass_Vol</servlet-name>
        <servlet-class>com.Servlet.ForgetPass_Vol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPass_NPO</servlet-name>
        <servlet-class>com.Servlet.ForgetPass_NPO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateAccountVol</servlet-name>
        <servlet-class>newpackage.ActivateAccountVol</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpLogoutSevlet</servlet-name>
        <url-pattern>/EmpLogoutSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VolEditServlet</servlet-name>
        <url-pattern>/VolEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NPOEditServlet</servlet-name>
        <url-pattern>/NPOEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeNPO</servlet-name>
        <url-pattern>/VerifyCodeNPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NPOVerify</servlet-name>
        <url-pattern>/NPOVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPass_Vol</servlet-name>
        <url-pattern>/ForgetPass_Vol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPass_NPO</servlet-name>
        <url-pattern>/ForgetPass_NPO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateAccountVol</servlet-name>
        <url-pattern>/ActivateAccountVol</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
